button.option {
  cursor: pointer;
  font-size: 0.8rem;
  width: 100%;
  height: 60px;
  margin: 5px 0;
  box-shadow: 0px 2px 5px rgba(131, 116, 116, 0.25);
  border-radius: 5px;
  color: black;
}

.fadeIn {
  animation: fadeInAnimation 1s linear;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

button.next {
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50px;
  margin: 5px 0;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: black;
}

.icon {
  font-size: 20px !important;
}
